@font-face{
    font-family: 'pala';
    font-display: swap;
    src: url('../font/pala.TTF') format("truetype");
}

@font-face{
    font-family: 'yousong';
    font-display: swap;
    src: url('../font/FZYouSJK_508R.TTF') format("truetype");
}
